
   body {
        font-family: 'Poppins', sans-serif;
        margin: 0;
    }
    /*--------------------- Nav Bar ------------------ */
    nav{
        display: flex;
        justify-content: space-between;
        background-color: #2D25A0;
        padding-left: 100px;
        padding-top: 44px;
        padding-right: 50px;
    }
    nav a{   
        text-decoration: none;
        color: white;
        font-size: 20px;
        padding-right: 20px;
    }
    .fas{
        font-weight: 400;
        background-color: #e00f71;
        color: white;
        padding: 10px 24px 10px 24px;
    }
    /* --------------- Top Banner ----------------------*/
    .top-banner{
        background-color: #2D25A0;
        padding-left: 100px;
        padding-top: 44px;
        height: 550px;
        margin-bottom: 20px;
    }
    h1{
        font-size: 60px;
        font-weight: 700;
        color: white;
        padding: 0;
    }
    .top-banner img{
        float: right;
        width: 556px; 
        border-radius: 0px;
    }
    .banner-image:hover{
        transform: scale(1.1);
        transition: transform 1s ease-in-out;
    }
    .link-button{
        text-decoration: none;
        color: white;
        font-size: 1.5em;
        font-weight: 400;
        background-color: #e00f71;
        height: 44px;
        width: 168px;
        margin-bottom: 160px;
        padding: 10px 24px 10px 24px;
        }
    /* -------------- PLAYERS' 
                     SECTION -------------------*/
        .players-album{
            display: grid;
            grid-row-gap: 30px;
            grid-template-columns: repeat(3,1fr);
            align-items: center;
        }
        h2 {
            display: grid;
            grid-template-rows: repeat(1,1fr);
            grid-template-columns: auto;
            padding-left: 50px;
            padding-right: 50px;
            background-color: rgb(192, 224, 238);
            border: 2px 2px rgb(41, 123, 153);
            border-style: ridge;
            box-shadow: 2px 2px 2px 2px rgb(221, 218, 218);
        }
        .player-frame{
            width: 330px;
            height: 475px;
            padding: 15px 15px 15px 15px;
            position: relative;
            border-radius: 0;
            overflow: hidden;
            border: 2px 2px rgb(39, 122, 170);
            border-style: groove;
            box-shadow: 2px 2px 2px 2px rgb(221, 218, 218);
        }
        .player img{
            width: 100%;
            margin-right: 10px;
            background-color: white;
        }
        .player-detail{
            display: block;
            position: relative;
            width: 100%;
            text-align: left;
            background-color: white;
        }
        .player-detail h3{
            display: block;
            color: black; 
            text-align: left;
            font-weight: 700;
        }
    /*---------- FOOTER SECTION------------ */
    
        .footer-image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: "330px";
            height: "100px";
            padding: 30px 0 0 0;
        }

        .social-icons{
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .fab{
            width: 17.07px;
            height: 17.04px;
            background-color:#e2e7f8 ;
            padding:10px;
            margin: 0px 14px;
            border-radius: 100px;
            color: #969BAB ;
            }
        h4, .validation {
            text-align: center;
            align-items: center;
            justify-content: center;
        }