body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/*--------------------- Nav Bar ------------------ */
nav{
    display: flex;
    justify-content: space-between;
    background-color: #2D25A0;
    padding-left: 100px;
    padding-top: 44px;
    padding-right: 50px;
}
nav a{   
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-right: 20px;
}
.fas{
    font-weight: 400;
    background-color: #e00f71;
    color: white;
    padding: 10px 24px 10px 24px;
}
/* --------------- Top Banner ----------------------*/
.top-banner{
    background-color: #2D25A0;
    padding-left: 100px;
    padding-top: 44px;
    height: 600px;
    margin-bottom: 70px;
}
h1{
    font-size: 60px;
    font-weight: 700;
    color: white;
    padding: 0;
}
h2 {
    text-align: center;
}
.top-banner img{
    float: right;
    width: 556px; 
    border-radius: 0px;
}
.banner-image:hover{
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}
.link-button{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: 400;
    background-color: #e00f71;
    height: 44px;
    width: 168px;
    margin-bottom: 160px;
    padding: 10px 24px 10px 24px;
    }
/* -------------- PLAYERS' 
                 SECTION -------------------*/
    .players-album{
        display: grid;
        grid-row-gap: 30px;
        grid-template-columns: repeat(3,1fr);
    }
    .player-frame{
        width: 330px;
        height: 475px;
        padding: 15px 15px 15px 15px;
        position: relative;
        border-radius: 0;
        overflow: hidden;
        border: 2px solid white;
        box-shadow: 2px 2px 2px 2px rgb(221, 218, 218);
    }
    .player img{
        width: 100%;
        margin-right: 10px;
        background-color: white;
    }
    .player-detail{
        display: block;
        position: relative;
        width: 100%;
        text-align: left;
        background-color: white;
    }
    .player-detail h3{
        color: black; 
        text-align: left;
        font-weight: 700;
    }
    .player-frame:hover .player-detail{
        display: block;
        background-color: rgba(202, 235, 235, 0.685);
    }
    
    .player-frame:hover .player{
        transform: scale(1.3) ;
        transition: transform 2s ease-in-out;
    }
    
/*---------- FOOTER SECTION------------ */

    .footer-article{
        display: grid;
    }
    .footer-article img{
        width: 485px;
        height: 110px;
        align-items: center;
        justify-content: center;
        padding: 30px 381px 3px 405px;
    }
    .social-icons{
        text-align: center;
        display: flex;
        align-items: center;
        padding: 30px 681px 13px 548px;
        margin-right: 30px;
    }

    .fab{
        width: 17.07px;
        height: 17.04px;
        background-color:#e2e7f8 ;
        padding:10px;
        margin: 0px 14px;
        border-radius: 100px;
        color: #969BAB ;
        }
    h4, .validation {
        text-align: center;
        align-items: center;
        justify-content: center;
    }